.navbar-container {
    background-color: #303030;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #508fb9;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 50px;
}

.nav-item a.active {
    background-color: #ffffff;
    color: #303030;
}

.nav-item a:hover {
    color: #696969;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
