body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

/* hero section */
#hero {
    background-color: #303030;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-top: 20px;
}

.button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #508fb9;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #407099;
}

/* intro section */
#intro {
    background-color: #f4f4f4;
    color: #303030;
    text-align: center;
    padding: 50px 20px;
}

#intro h2 {
    font-size: 2.5rem;
}

#intro p {
    font-size: 1.1rem;
    margin-top: 20px;
}

/* latest NEOs section */
#latest-neos {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 20px;
}

#latest-neos h2 {
    font-size: 2.5rem;
}

#neo-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* data vis preview section */
#data-visual-preview {
    background-color: #e9e9e9;
    text-align: center;
    padding: 50px 20px;
}

#data-visual-preview h2 {
    font-size: 2.5rem;
}

.cta-button {
    margin-top: 20px;
}

/* footer */
#footer {
    background-color: #303030;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

#footer nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

#footer nav a:hover {
    color: #508fb9;
}

/* latest NEOs section styling */
.neo-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.neo-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.neo-item p {
    margin: 5px 0;
    font-size: 1.1rem;
}
